name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch: # enable manual release

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Pre-commit
        uses: open-turo/action-pre-commit@v3
  release:
    name: Release
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup tools
        uses: open-turo/action-setup-tools@v2
      - name: Release
        id: release
        uses: open-turo/actions-release/semantic-release@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          extra-plugins: |
            @open-turo/semantic-release-config
      - name: Major branch
        if: steps.release.outputs.new-release-published == 'true'
        uses: open-turo/action-major-release@v1
        with:
          major-version: ${{ steps.release.outputs.new-release-major-version }}
